<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>3</integer>
	<key>AutoAdjust</key>
	<true/>
	<key>CanvasColor</key>
	<dict>
		<key>w</key>
		<string>1</string>
	</dict>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>CanvasScale</key>
	<real>1</real>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2007-03-13 02:15:47 +0100</string>
	<key>Creator</key>
	<string>Alexander Petry</string>
	<key>DisplayScale</key>
	<string>1 cm = 1 cm</string>
	<key>GraphDocumentVersion</key>
	<integer>5</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Bounds</key>
			<string>{{426, 108.008}, {56.6929, 34.0158}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>108</integer>
			<key>ImageID</key>
			<integer>2</integer>
			<key>Layer</key>
			<integer>1</integer>
			<key>Magnets</key>
			<array>
				<string>{1, 0.5}</string>
				<string>{1, -0.5}</string>
				<string>{-1, 0.5}</string>
				<string>{-1, -0.5}</string>
				<string>{0.5, 1}</string>
				<string>{-0.5, 1}</string>
				<string>{0.5, -1}</string>
				<string>{-0.5, -1}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\mac\ansicpg10000\cocoartf824\cocoasubrtf410
{\fonttbl\f0\fswiss\fcharset77 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs24 \cf0 Site B}</string>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>111</integer>
				<key>Info</key>
				<integer>3</integer>
			</dict>
			<key>ID</key>
			<integer>109</integer>
			<key>Layer</key>
			<integer>1</integer>
			<key>OrthogonalBarAutomatic</key>
			<true/>
			<key>OrthogonalBarPosition</key>
			<real>8.7857208251953125</real>
			<key>Points</key>
			<array>
				<string>{426, 88.0157}</string>
				<string>{386.229, 124.514}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>HeadScale</key>
					<real>0.90000003576278687</real>
					<key>LineType</key>
					<integer>2</integer>
					<key>TailArrow</key>
					<string>FilledArrow</string>
					<key>TailScale</key>
					<real>0.89999997615814209</real>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>112</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>111</integer>
				<key>Info</key>
				<integer>3</integer>
			</dict>
			<key>ID</key>
			<integer>110</integer>
			<key>Layer</key>
			<integer>1</integer>
			<key>OrthogonalBarAutomatic</key>
			<true/>
			<key>OrthogonalBarPosition</key>
			<real>9</real>
			<key>Points</key>
			<array>
				<string>{425.5, 162.016}</string>
				<string>{386.229, 124.514}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>HeadScale</key>
					<real>0.90000003576278687</real>
					<key>LineType</key>
					<integer>2</integer>
					<key>TailArrow</key>
					<string>FilledArrow</string>
					<key>TailScale</key>
					<real>0.89999997615814209</real>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>113</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{353, 115.9}, {33.2283, 17.2283}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>111</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>Layer</key>
			<integer>1</integer>
			<key>Magnets</key>
			<array>
				<string>{0, 1}</string>
				<string>{0, -1}</string>
				<string>{1, 0}</string>
				<string>{-1, 0}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{426, 74}, {61.9762, 28.0313}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>112</integer>
			<key>Layer</key>
			<integer>1</integer>
			<key>Magnets</key>
			<array>
				<string>{0, 1}</string>
				<string>{0, -1}</string>
				<string>{1, 0}</string>
				<string>{-1, 0}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>0.979663</string>
					</dict>
				</dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>5</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\mac\ansicpg10000\cocoartf824\cocoasubrtf410
{\fonttbl\f0\fswiss\fcharset77 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs24 \cf0 service}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{426, 148}, {61.9762, 28.0313}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>113</integer>
			<key>Layer</key>
			<integer>1</integer>
			<key>Magnets</key>
			<array>
				<string>{0, 1}</string>
				<string>{0, -1}</string>
				<string>{1, 0}</string>
				<string>{-1, 0}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>0.979663</string>
					</dict>
					<key>GradientAngle</key>
					<real>91</real>
					<key>MiddleFraction</key>
					<real>0.81746029853820801</real>
				</dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>5</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\mac\ansicpg10000\cocoartf824\cocoasubrtf410
{\fonttbl\f0\fswiss\fcharset77 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs24 \cf0 service}</string>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{104.642, 108.008}, {56.6929, 34.0158}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>119</integer>
					<key>ImageID</key>
					<integer>2</integer>
					<key>Magnets</key>
					<array>
						<string>{1, 0.5}</string>
						<string>{1, -0.5}</string>
						<string>{-1, 0.5}</string>
						<string>{-1, -0.5}</string>
						<string>{0.5, 1}</string>
						<string>{-0.5, 1}</string>
						<string>{0.5, -1}</string>
						<string>{-0.5, -1}</string>
					</array>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\mac\ansicpg10000\cocoartf824\cocoasubrtf410
{\fonttbl\f0\fswiss\fcharset77 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs24 \cf0 Site A}</string>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{102.001, 74}, {61.9762, 28.0313}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>120</integer>
					<key>Magnets</key>
					<array>
						<string>{0, 1}</string>
						<string>{0, -1}</string>
						<string>{1, 0}</string>
						<string>{-1, 0}</string>
					</array>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>1</string>
								<key>r</key>
								<string>0.979663</string>
							</dict>
						</dict>
						<key>stroke</key>
						<dict>
							<key>CornerRadius</key>
							<real>5</real>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\mac\ansicpg10000\cocoartf824\cocoasubrtf410
{\fonttbl\f0\fswiss\fcharset77 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs24 \cf0 client}</string>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{102.001, 148}, {61.9762, 28.0313}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>121</integer>
					<key>Magnets</key>
					<array>
						<string>{0, 1}</string>
						<string>{0, -1}</string>
						<string>{1, 0}</string>
						<string>{-1, 0}</string>
					</array>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>1</string>
								<key>r</key>
								<string>0.979663</string>
							</dict>
							<key>GradientAngle</key>
							<real>91</real>
							<key>MiddleFraction</key>
							<real>0.81746029853820801</real>
						</dict>
						<key>stroke</key>
						<dict>
							<key>CornerRadius</key>
							<real>5</real>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\mac\ansicpg10000\cocoartf824\cocoasubrtf410
{\fonttbl\f0\fswiss\fcharset77 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs24 \cf0 client}</string>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{44.0005, 67.8212}, {134.646, 113.386}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>122</integer>
					<key>Magnets</key>
					<array>
						<string>{0, 1}</string>
						<string>{0, -1}</string>
						<string>{1, 0}</string>
						<string>{-1, 0}</string>
					</array>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.33</string>
								<key>b</key>
								<string>0.961957</string>
								<key>g</key>
								<string>0.624989</string>
								<key>r</key>
								<string>0.243061</string>
							</dict>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>118</integer>
			<key>Layer</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{217.434, 90.5855}, {99.2126, 67.8572}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>38</integer>
			<key>ImageID</key>
			<integer>2</integer>
			<key>Layer</key>
			<integer>1</integer>
			<key>Magnets</key>
			<array>
				<string>{-0.596285, -1.19257}</string>
				<string>{-6.35783e-07, -1.33333}</string>
				<string>{0.596284, -1.19257}</string>
				<string>{1.19257, -0.596285}</string>
				<string>{1.33333, 0}</string>
				<string>{1.19257, 0.596285}</string>
				<string>{0.596284, 1.19257}</string>
				<string>{-6.35783e-07, 1.33333}</string>
				<string>{-0.596285, 1.19257}</string>
				<string>{-1.19257, 0.596284}</string>
				<string>{-1.33333, -3.17891e-07}</string>
				<string>{-1.19257, -0.596285}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\mac\ansicpg10000\cocoartf824\cocoasubrtf410
{\fonttbl\f0\fswiss\fcharset77 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs24 \cf0 Internet}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{370, 68.3228}, {134.646, 113.386}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>114</integer>
			<key>Layer</key>
			<integer>1</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.33</string>
						<key>b</key>
						<string>0.961957</string>
						<key>g</key>
						<string>0.624989</string>
						<key>r</key>
						<string>0.243061</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>122</integer>
			</dict>
			<key>ID</key>
			<integer>115</integer>
			<key>Layer</key>
			<integer>3</integer>
			<key>OrthogonalBarAutomatic</key>
			<true/>
			<key>OrthogonalBarPosition</key>
			<real>-1</real>
			<key>Points</key>
			<array>
				<string>{217.434, 124.514}</string>
				<string>{178.647, 124.514}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>HeadScale</key>
					<real>0.5</real>
					<key>LineType</key>
					<integer>2</integer>
					<key>TailArrow</key>
					<string>FilledArrow</string>
					<key>TailScale</key>
					<real>0.5</real>
					<key>Width</key>
					<real>3</real>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>38</integer>
				<key>Info</key>
				<integer>11</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>38</integer>
				<key>Info</key>
				<integer>5</integer>
			</dict>
			<key>ID</key>
			<integer>106</integer>
			<key>Layer</key>
			<integer>3</integer>
			<key>OrthogonalBarAutomatic</key>
			<true/>
			<key>OrthogonalBarPosition</key>
			<real>-1</real>
			<key>Points</key>
			<array>
				<string>{353, 124.514}</string>
				<string>{316.647, 124.514}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>HeadScale</key>
					<real>0.5</real>
					<key>LineType</key>
					<integer>2</integer>
					<key>TailArrow</key>
					<string>FilledArrow</string>
					<key>TailScale</key>
					<real>0.5</real>
					<key>Width</key>
					<real>3</real>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>111</integer>
				<key>Info</key>
				<integer>4</integer>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>3</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image2.pdf</string>
		<string>image1.pdf</string>
	</array>
	<key>IsPalette</key>
	<string>NO</string>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Legend</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Network</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>MOM</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Background</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>LayoutTarget</key>
		<integer>3</integer>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheet</key>
	<string>Master 1</string>
	<key>MasterSheets</key>
	<array>
		<dict>
			<key>ActiveLayerIndex</key>
			<integer>0</integer>
			<key>AutoAdjust</key>
			<true/>
			<key>CanvasColor</key>
			<dict>
				<key>w</key>
				<string>1</string>
			</dict>
			<key>CanvasOrigin</key>
			<string>{0, 0}</string>
			<key>CanvasScale</key>
			<real>1</real>
			<key>ColumnAlign</key>
			<integer>1</integer>
			<key>ColumnSpacing</key>
			<real>36</real>
			<key>DisplayScale</key>
			<string>1 cm = 1 cm</string>
			<key>GraphicsList</key>
			<array/>
			<key>GridInfo</key>
			<dict/>
			<key>HPages</key>
			<integer>1</integer>
			<key>IsPalette</key>
			<string>NO</string>
			<key>KeepToScale</key>
			<false/>
			<key>Layers</key>
			<array>
				<dict>
					<key>Lock</key>
					<string>NO</string>
					<key>Name</key>
					<string>Layer 1</string>
					<key>Print</key>
					<string>YES</string>
					<key>View</key>
					<string>YES</string>
				</dict>
			</array>
			<key>LayoutInfo</key>
			<dict>
				<key>LayoutTarget</key>
				<integer>3</integer>
			</dict>
			<key>Orientation</key>
			<integer>2</integer>
			<key>OutlineStyle</key>
			<string>Basic</string>
			<key>RowAlign</key>
			<integer>1</integer>
			<key>RowSpacing</key>
			<real>36</real>
			<key>SheetTitle</key>
			<string>Master 1</string>
			<key>UniqueID</key>
			<integer>1</integer>
			<key>VPages</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>ModificationDate</key>
	<string>2007-04-25 06:45:30 +0200</string>
	<key>Modifier</key>
	<string>Alexander Petry</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>OutlineStyle</key>
	<string>Basic</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>0</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>0</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>0</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>0</string>
		</array>
	</dict>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<true/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<string>0</string>
		<key>DrawerOpen</key>
		<true/>
		<key>DrawerTab</key>
		<string>Layers</string>
		<key>DrawerWidth</key>
		<real>209</real>
		<key>FitInWindow</key>
		<false/>
		<key>Frame</key>
		<string>{{28, 919}, {593, 714}}</string>
		<key>ShowRuler</key>
		<true/>
		<key>ShowStatusBar</key>
		<true/>
		<key>VisibleRegion</key>
		<string>{{0, 0}, {562, 554}}</string>
		<key>Zoom</key>
		<string>1</string>
	</dict>
</dict>
</plist>
