#
# logging configuration for the xbed
#

# this section is provided by the ConfigParser
[DEFAULT]
default_logfile = /var/log/xenbee/xbed.log

[loggers]
keys = root

[logger_root]
level = DEBUG
# NOTE: it is important to *not* have spaces in the comma separated list
handlers = stderr,syslog,logfile

[handlers]
keys = stderr,syslog,logfile

[formatters]
keys = console,syslog,file

[handler_stderr]
class = StreamHandler
level = WARN
formatter = console
args = (sys.stderr,)

[handler_syslog]
class = handlers.SysLogHandler
level = ERROR
formatter = syslog
args = ()

[handler_logfile]
class = FileHandler
level = DEBUG
formatter = file
args = ("/var/log/xenbee/xbed.log", 'w')

[formatter_console]
format = %(asctime)s %(threadName)s %(levelname)-8s %(message)s
datefmt =
class = logging.Formatter

[formatter_syslog]
format = %(asctime)s %(threadName)s %(name)s:%(lineno)d %(levelname)-8s %(message)s
datefmt =
class = logging.Formatter

[formatter_file]
format = %(asctime)s %(threadName)s %(name)s:%(lineno)d %(levelname)-8s %(message)s
datefmt =
class = logging.Formatter
